@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron testclassthing ">
    <h1>Keyframe</h1>
    <p class="lead">Whether you're an animator looking for commissions or a patron in need of animations - this is the site for you!'</p>
</div>

<style>

    h1 {
        display: flex;
        font-family: "Times New Roman", Times, serif;
        justify-content: center;
    }
</style>