@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Keyframe</h1>
    <p class="lead">Keyframe: whether you're an animator looking for commissions or a pstron in need of animations - this is the site for you!'</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What do we do?</h2>
        <p>
            Here at Keyframe, you can request animations from all sorts of talented animators around the world.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Animators can enjoy expressing their creativity in many ways, on many platformes.
        We provide links to all sorts of helpful tutorials for Blender, Maya, Adobe, and many more</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Connected</h2>
        <p>Stay in touch with the people you've worked with! '</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>